@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --leva-sizes-rootWidth: 340px;
}

#root {
  width: 100vw;
  height: 100vh;
}

/* body {
  margin: 0;
  background-color: #4169E1;
  background-image: linear-gradient(19deg, #2a49a5 0%, #d3e4ff 100%);
} */

body {
  margin: 0;
  background-color: #4169E1;
  background-image: url('/textures/tama-frontdesk.jpg'), linear-gradient(19deg, #2a49a5 0%, #d3e4ff 100%);
  background-size: cover;
  background-position: center;
}

body.greenScreen {
  background-color: #00ff00;
  background-image: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blinking-dot {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  animation: blink 1s infinite;
  position: absolute;
  top: 8px;
  right: 8px;
}